



h1 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}



div {
  text-align: center;
}

small {
  display: block;
}

img {
  justify-content: center;
  align-items: center;
  place-items: center;
}

